<h1> Your Employee Show Page </h1>

<li> Name: <%= @employee.first_name %> <%= @employee.last_name %> </li>
<li> Alias: <%= @employee.alias %> </li>
<li> Employee title: <%= @employee.title %> </li>
<li> Office: <%= @employee.office %> </li>
<br> <img src="<%= @employee.img_url%>"> </br>


